<div class="row">
  <div class="col-md-12">
    <ba-card title="Profile Information" baCardClass="with-scroll">

      <div class="col-md-2">
        <img src="/assets/img/app/profile/Nasta.png" style="width: 100%;border: 1px solid #001333; border-radius: 10px">
      </div>
      <div class="col-md-10" *ngIf="user.role == 'STUDENT'">
        <table>
          <tr>
            <th style="padding: 5px"><b>Reg No :</b> </th>
            <th style="padding: 5px">{{user.name}}</th>
          </tr>
          <tr>
            <th style="padding: 5px"><b>E-mail Address :</b> </th>
            <th style="padding: 5px">{{user.name}}@pdn.ac.lk</th>
          </tr>
          <tr>
            <th style="padding: 5px"><b>Courses :</b> </th>
            <th style="padding: 5px">CO421 CO422 CO423 CO424</th>
          </tr>
        </table>
      </div>
      <div class="col-md-10" *ngIf="user.role == 'ADMIN' || user.role == 'STAFF'">
        <table>
          <tr>
            <th style="padding: 5px"><b>Name :</b> </th>
            <th style="padding: 5px">{{user.name}}</th>
          </tr>
          <tr>
            <th style="padding: 5px"><b>E-mail Address :</b> </th>
            <th style="padding: 5px">{{user.name}}@pdn.ac.lk</th>
          </tr>
        </table>
      </div>
    </ba-card>
  </div>
</div>
