<div class="row">
  <div class="col-md-12">
      <div class="row">
        <div class="col-lg-6 col-md-12" *ngIf="matrix != null">
              <div style="width: 900px;height: 210px" *ngFor="let dayItem of weekDays">
                <div style="width: 100px;height: 210px;float: left;border: solid 1px gray;color: #1C2B36" *ngFor="let timeItem of timeSlot">
                  <span *ngIf="dayItem === 0 && timeItem !== 0">
                    <div *ngIf="dayItem === 0 && timeItem == 1" style="width: 100%;height: 100%;float: left;background: gainsboro" >8.00-8.55</div>
                    <div *ngIf="dayItem === 0 && timeItem == 2" style="width: 100%;height: 100%;float: left;background: gainsboro" >8.55-9.50</div>
                    <div *ngIf="dayItem === 0 && timeItem == 3" style="width: 100%;height: 100%;float: left;background: gainsboro" >10.10-11.05</div>
                    <div *ngIf="dayItem === 0 && timeItem == 4" style="width: 100%;height: 100%;float: left;background: gainsboro" >11.05-12.00</div>
                    <div *ngIf="dayItem === 0 && timeItem == 5" style="width: 100%;height: 100%;float: left;background: gainsboro" >13.00-13.55</div>
                    <div *ngIf="dayItem === 0 && timeItem == 6" style="width: 100%;height: 100%;float: left;background: gainsboro" >13.55-14.50</div>
                    <div *ngIf="dayItem === 0 && timeItem == 7" style="width: 100%;height: 100%;float: left;background: gainsboro" >15.10-16.05</div>
                    <div *ngIf="dayItem === 0 && timeItem == 8" style="width: 100%;height: 100%;float: left;background: gainsboro" >16.05-17.00</div>
                  </span>
                  <span *ngIf="dayItem !== 0 && timeItem === 0">
                    <div *ngIf="dayItem == 1 && timeItem === 0" style="width: 100%;height: 100%;float: left;background: gainsboro" >MONDAY</div>
                    <div *ngIf="dayItem == 2 && timeItem === 0" style="width: 100%;height: 100%;float: left;background: gainsboro" >TUESDAY</div>
                    <div *ngIf="dayItem == 3 && timeItem === 0" style="width: 100%;height: 100%;float: left;background: gainsboro" >WEDNESDAY</div>
                    <div *ngIf="dayItem == 4 && timeItem === 0" style="width: 100%;height: 100%;float: left;background: gainsboro" >THURSDAY</div>
                    <div *ngIf="dayItem == 5 && timeItem === 0" style="width: 100%;height: 100%;float: left;background: gainsboro" >FRIDAY</div>
                  </span>
                  <span *ngIf="dayItem !== 0 && timeItem !== 0">
                    <div *ngFor="let ttItem of matrix[dayItem-1][timeItem-1]">
                     <div *ngIf="ttItem.courseCode != null">
                      <div style="width: 100px;height: 30px;float: left;color: #1C2B36"  >
                        {{ttItem.courseCode}}[{{ttItem.roomname}}]
                      </div>
                     </div>
                    </div>
                  </span>
                </div>
              </div>
        </div>
      </div>
  </div>
</div>

